

/socailfronted/node_modules
/socailfronted/.env
/SocialMediaB/config/config.env
/socailfronted/.pnp
/socailfronted/.pnp.js

/socailfronted/coverage
/socailfronted//build

/socailfronted/.DS_Store
/socailfronted/.env.local
/socailfronted/.env.development.local
/socailfronted/.env.test.local
/socailfronted/.env.production.local

/socailfronted/npm-debug.log*
/socailfronted/yarn-debug.log*
/socailfronted/yarn-error.log*
/node_modules